<!--  Video Edit Public Page Starts  -->
<div class="video-edit-page video-edit-public-page container" ng-if=" !loading">
    <div class="show-grid-wrapper edit-video">
        <div class="video-details-custom relative">
            <div class="row">
                <div class="col-xs-6">                
                    <previous-page></previous-page>
                </div>
                <div class="col-xs-6 text-right">
                    <div class="action-container">
                        <ul class="video-actions clearfix text-right">
                            <li class="share"><share-video video="video" ></share-video></li>
                        </ul>                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 title-word-break" ng-class="{'shared-video-header':isSharedVideo}">
                    <strong class="description">{{ video.title}}</strong>
                </div>
                <div class="col-xs-6 text-right">
                    <a href class="btn-times" ng-click="toggleTool = false" ng-show="toggleTool">
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <a href class="btn-times" ng-click="toggleTool = true" ng-hide="toggleTool">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
        <sharemap model="vm" video="video" nonuservideo="nonUserVideo" toggletool="toggleTool"></sharemap>
    </div>
</div>
<!--  Video Edit Public Page Ends  -->
